entrypoint = "main.py"
run = "streamlit run main.py --server.port 3000 --server.address 0.0.0.0"

modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["file", "glibcLocales", "u-root-cmds"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
# run = ["python3", "main.py"]
# run = "streamlit run main.py --server.port 3000 --server.address 0.0.0.0"
run = [
  "streamlit",
  "run",
  "main.py",
  "--server.port",
  "3000",
  "--server.address",
  "0.0.0.0",
]
deploymentTarget = "scheduled"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80
