entrypoint = "main.py"

run = "unset PIP_CONFIG_FILE && python -m venv .venv && .venv/bin/python -m pip install -r requirements.txt && .venv/bin/python -m streamlit run main.py --server.port 3000 --server.address 0.0.0.0"

modules = ["python-3.11"]

packager.language = "python3"

[packager.features]
guessImports = true
packageSearch = true

[nix]
channel = "stable-25_05"
packages = ["file", "glibcLocales", "postgresql"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = [
  "sh",
  "-c",
  "unset PIP_CONFIG_FILE && python -m venv .venv && .venv/bin/python -m pip install -r requirements.txt && .venv/bin/python -m streamlit run main.py --server.port 3000 --server.address 0.0.0.0",
]
deploymentTarget = "scheduled"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80
